!!!
-require_relative "page.rb"
%head
  %link{ href:"../2022.css", rel:'stylesheet', type:'text/css' }

%h1 #{TITLE}

%a{ href:"../../index.html" } TOP

%h2 問題の概要

%p
  上に無限に長い長方形のような領域内に、直角二等辺三角形を並べる
  %br
  設置のルールは
%ul
  %li 領域内のに、指定された向きで置く
  %li 他の直角三角形にと重なってはいけない
  %li できるだけ下に置く
  %li できるだけ左に置く

%p
  の 4つ。「できるだけ下に置く」が「できるだけ左に置く」より優先。
  %br
  全部設置し終えた状況で、面積が最大である直角二等辺三角形（一つしかない）に隣接する（つまり、共有している辺の長さがゼロより大きい）直角二等辺三角形の斜辺の長さを、小さい順にリストアップせよ。

%h2 入力
%p
  入力はこんな感じ。
  %br
  %code=EXAMPLE_INPUT
  %br
  スラッシュより前が、領域の横幅。
  %br
  スラッシュ以降に直角三角形情報がコンマ区切りで並んでいる。
  %br
  直角三角形情報は英字＋整数（10進数）。英字の意味は下表の通り。
%table
  %tr
    %th 英字
    %th 意味
  -%w(t上 ｂ下 r右 l左).each do |e|
    %tr
      %td
        %code=e[0]
      %td 斜辺が #{e[1...]} になるように配置
%h2 出力
%p
  出力は、面積が最大である正方形に隣接する正方形の一辺の長さを小さい順にコンマ区切りで。
  %br
  こんな
  %br
  %code=solve(EXAMPLE_INPUT)
  %br
  感じ。


